<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class=" bg-gradient">

    <%- include('partials/navbar') %>


    <div class="container">
        <div class="row justify-content-md-center mt-5">
            <div class="col-md-6 card pt-2 pb-2 ml-3 mr-3 mb-3 shadow rounded">
                <h5 class="text-center">Submit an availability or requirement</h5>
                <hr>
                <label for="">Choose location by clicking on the map</label>
                <div id="mapid" class="choose-location"></div>
                <hr>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#availability">Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#requirement">Requirement</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="availability" class="tab-pane fade active show">
                        <div class="mt-5">
                            <form method="POST" action="/ppe">
                                <input type="hidden" name="mode" value="availability">
                                <div class="form-group">
                                    <label for="itemType">Select type of PPE</label>
                                    <select class="form-control" id="itemType" name="itemType">
                                        <option value="mask">Mask</option>
                                        <option value="glove">Glove</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Your name</label>
                                    <input class="form-control" id="name" type="text" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control" id="quantity" type="number" name="quantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" type="text" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="contact">Contact</label>
                                    <input class="form-control" id="contact" type="text" name="contact" required>
                                </div>
                                <input class="form-control" id="latitude" type="hidden" name="latitude" required>
                                <input class="form-control" id="longitude" type="hidden" name="longitude" required>

                                <!-- <div class="form-group">
                                    <label for="latitude">Latitude</label>
                                    <input class="form-control" id="latitude" type="text" name="latitude" required>
                                </div>
                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <input class="form-control" id="longitude" type="text" name="longitude" required>
                                </div> -->

                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div id="requirement" class="tab-pane fade">
                        <div class="mt-5">
                            <form method="POST" action="/ppe">
                                <input type="hidden" name="mode" value="requirement">
                                <div class="form-group">
                                    <label for="itemType">Select type of PPE</label>
                                    <select class="form-control" id="itemType" name="itemType">
                                        <option value="mask">Mask</option>
                                        <option value="glove">Glove</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">Your name</label>
                                    <input class="form-control" id="name" type="text" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control" id="quantity" type="number" name="quantity" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" id="email" type="text" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="contact">Contact</label>
                                    <input class="form-control" id="contact" type="text" name="contact" required>
                                </div>
                                <input class="form-control" id="latitude" type="hidden" name="latitude" required>
                                <input class="form-control" id="longitude" type="hidden" name="longitude" required>
                                <!-- <div class="form-group">
                                    <label for="latitude">Latitude</label>
                                    <input class="form-control" id="latitude" type="text" name="latitude" required>
                                </div>
                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <input class="form-control" id="longitude" type="text" name="longitude" required>
                                </div> -->

                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        let myMap;
        let marker;

        function getLocation(callback) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(callback);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function onMapClick(e) {
            console.log(e)
            var position = e.latlng;
            marker.setLatLng(new L.LatLng(position.lat, position.lng));
            mymap.panTo(new L.LatLng(position.lat, position.lng))
            updateFormLocation(position.lat, position.lng)
        };

        function updateFormLocation(lat, lng) {
            $('input[name=latitude]').val(lat)
            $('input[name=longitude]').val(lng)
        }
        function displayMap(position) {
            mymap = L.map('mapid').setView([position.coords.latitude, position.coords.longitude], 15);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hpbmphbiIsImEiOiJjazhiMHM2bzQwN2oyM2tvM3d3cm81dmxsIn0.cVV5b0Ey8lIQ2DcsJ5ZDmA', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);
            marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
            mymap.on('click', onMapClick);
            updateFormLocation(position.coords.latitude, position.coords.longitude)
        }


        $(function () {
            getLocation(displayMap)
        });

    </script>
</body>

</html>