<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class=" bg-gradient">

    <%- include('partials/navbar') %>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple application to track the status regarding availability and requirement of
                PPE (Personal Protective Equipment) needed to fight COVID-19.</p>
            <hr class="my-4">
            <p>It uses information given by the public to help distribute PPE where needed.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/ppe/map" role="button">View status</a>
            </p>
        </div>
    </div>

</body>

</html>