body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}
a {
  color: #00B7FF;
}

.bg-gradient{
  background-image: url('/images/blur-gradient.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.header.navbar{
  background-color: rgba(255,255,255,0.3);
}

.choose-location{
  height:300px;
}

.fab-container{
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 500;
}
.btn-fab{
  border-radius: 50%;
  width:50px;
  height:50px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.btn-fab.btn-sm{
  border-radius: 50%;
  width:40px;
  height:40px;
}
.btn-fab.btn-sm span.material-icons{
  position: relative;
  /* top:-5px; */
  /* left:-5px; */
}
.btn-fab span.text{
  position: relative;
  top:-10px;
  font-size: 40px;
}

.btn-fab span.material-icons{
  padding-top:5px;
}