body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}
a {
  color: #00B7FF;
}

.bg-gradient{
  background-image: url('/images/blur-gradient.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.header.navbar{
  background-color: rgba(255,255,255,0.3);
}

.choose-location{
  height:300px;
}

.btn-fab{
  border-radius: 50%;
  width:50px;
  height:50px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 500;
  padding-top:-10px;
  font-size: 40px;
}
.btn-fab span{
  position: relative;
  top:-10px;
}